# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos binarios de ECU
*.bin
*.ori
*.mod

# Archivos temporales
*.tmp
*.log
pytest-tmp-*/

# Configuración local de VS Code
.vscode/
